<p>
  code-page works!
</p>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="/static/fontawesome/fontawesome-all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/brands.js" integrity="sha384-qJKAzpOXfvmSjzbmsEtlYziSrpVjh5ROPNqb8UZ60myWy7rjTObnarseSKotmJIx" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY" crossorigin="anonymous"></script>
</head>


<body>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <a href="https://www.linkedin.com/in/jacqui-giese-278931145/">
          <button (click)="onSelect" class="btn"> <i class="fa fa-linkedin-square fa-4x"></i> </button>
        </a>
      
        <a href="https://github.com/jacquigiese">
          <button (click)="onSelect" class="btn"> <i class="fa fa-github-square fa-4x"></i> </button>
        </a>
      </div>
      <div class="col-2"></div>
    
    </div>

    <div class="row">
      <p>
        whoops
        
      </p>
    </div>


  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 buttonanimate">
            <div class="col-md-6">
              
              <a @changeState (click)="animateSquare('normal')" class="btn btn-danger">Animate1</a>
            </div>
            <div class="col-md-6">
              <a (click)="animateSquare('animated')" class="btn btn-warning">Animate2</a>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="col-md-6">
        <app-animate></app-animate>
      </div>
    </div>
  </div>


  
</body>

