
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="/static/fontawesome/fontawesome-all.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="container">
    <div class="row">
      <h1>Jacqui Giese</h1>
    </div>
    <div class="row icon-bar">
        <a routerLink = "/photos-page">
          <button (click)="onSelect" class="btn"> <i class="fa fa-camera fa-2x"></i> </button>
        </a>
        <a routerLink = "/code-page">
          <button (click)="onSelect" class="btn"> <i class="fa fa-code fa-2x"></i> </button>
        </a>
        <a routerLink = "/videos-page">
          <button (click)="onSelect" class="btn"> <i class="fa fa-video-camera fa-2x"></i> </button>
        </a>

        <router-outlet></router-outlet>
    </div>
    
    <div class="row profile_picture">
      <img 
        class="img-fluid"
        src="https://drive.google.com/uc?id=1buRwJFv0SxebuBTO0LpvXL6Xs0-zN7Ry"
        alt="Picture of Jacqui Giese">
    </div>

    <div class="container">
        <div class="row">
          <h2>
              About Me
          </h2>
        </div>
        
        <div class="row">
          <h5>
            I am a Harvey Mudd College junior that loves to code and dance. I am a Computer Science major with a concentration in Psychology. I am passionate about creating user-friendly products that are pleasant to look at and fun to interact with. I love learning more about different technologies and techniques to solve problems.
          </h5>
        </div>
      </div>

  </div>
  
</body>

