body{
  height: 100%;
  background-image:  url("white_black.jpg"); 
  background-attachment: local;
}

  .row h1 {
    width: 100%;
    height: 120px;
    max-height: 7000px;
    overflow: visible;
    margin-top: 30px;
    text-align: center;
    left: 50%;
    color: white;
    font-family: 'Covered by your grace', cursive; 
    z-index: 2;
    letter-spacing: 0.06em;
    font-size: 80px
  }

  .profile_picture img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    z-index: 1;
  }
  
  h1 {font-size: 40px;}
  h2 {font-size: 24px;}
  h5 {font-size: 16px;}
  
  @media (max-width: screen-xs) {
    h1{font-size: 2.5rem;}
    h2{font-size: 2.1rem;}
    h5{font-size: 1rem;}
  }
  
  @media (min-width: 576px) {
    h1{font-size: 3.5rem;}
    h2{font-size: 2.3rem;}
    h5{font-size: 1.1rem;}
  }
  
  @media (min-width: 768px) {
    h1{font-size: 4rem;}
    h2{font-size: 2.4rem;}
    h5{font-size: 1.15rem;}
  }
  
  @media (min-width: 992px) {
    h1{font-size: 4rem;}
    h2{font-size: 2.5rem;}
    h5{font-size: 1.2rem;}
  }
  
  @media (min-width: 1200px) {
    h1{font-size: 5rem;}
    h2{font-size: 2.5rem;}
    h5{font-size: 1.2rem;}
  }
  
  
  
  .icon-bar {
    width: 100%;
    margin-bottom: 50px;
  }

  .icon-bar a {
    float: left;
    text-align: center; 
    width: 20%; 
    height: 40px;
    width: 33%;
    border: none;
  }
  
  
  .btn {
    width: 100%;
    background: grey;
    color: white;
  }
  
  .btn:hover {
    color: grey;
    height: 47px;
    width: 100%;
    background: white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.1s;
  }
  
  h2 {
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  h5 {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 150%;
    padding-bottom: 20%;
  }