<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

<h1>
  Dance Portfolio
</h1>

<h5>
  I love to dance. I've been dancing since I was two and a half years old. All of the hours spent dancing has been an incredibly journey of self-refinement, hard-work, passion, teamwork, and friendship. I am very blessed to have been able to dance with the people I have and I am continually inspired by them every time I get the privilege of watching a performance. I am currently a member of Groove Nation, an urban dance crew at my college. My first semester of college, I was part of the 5C Dance Company and I choreographed two dances for the semester-end showcase. Previously, I had been doing competitive dance in the styles of tap, hip-hop, jazz, contemporary, musical theater, and lyrical.
</h5>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/j4U2i8gwIWc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/c3mlJWmZTj8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/uXZVWSmhIRE?rel=0&amp;start=20" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-WoqW9fgK5M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Fd1lsmmjhAM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/6tNziyOkkKs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GtgfUURV9G4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/G6QI1t07gDI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>



