<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="row">
    <div class="col-3"> <!--why don't this work-->
      <img 
        class="red-green-succ img-responsive" 
        src="https://drive.google.com/uc?id=1kY7LvmyfuO4p5B31u_QS7xW_jCu1kAuj">
    </div> <!--figure out how to use img-responsive above-->
    <div class="col-3">
      <img
        class="gold-ny img-responsive"
        src="https://drive.google.com/uc?id=1zmW2XgKHh0Ktj1v0z_D3h8_YyS_zGs9U">
    </div>
  </div>


</body>