<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <div class="row">

      <div class="col">
        <img 
          class="red-green-succ img-responsive" 
          src="https://drive.google.com/uc?id=1KQwHD9Y8GzD4pJ3LKBe6RpC6bteBo-07">
      </div>

      <div class="col">
        <img
          class="gold-ny img-responsive"
          src="https://drive.google.com/uc?id=1cEMC5XuUP13gJ2_i3HFjrK9bmMdcMCPG">
      </div>

    </div>

    <div class="row">

      <div class="col">
          <img
            class="blue-green img-responsive"
            src="https://drive.google.com/uc?id=1ax5tsMVNgNmGKrZfOimCaYT3jUfWgMLB">
      </div>

      <div class="col">
          <img
            class="green-succs img-responsive"
            src="https://drive.google.com/uc?id=1va3OX-FkfsM0WAGkapgAGRgWLN23H76X">
      </div>

    </div>

    <div class="row">

        <div class="col">
            <img
              class="dark-green img-responsive"
              src="https://drive.google.com/uc?id=19YQ0PwYvZrl9m6Ke0_H6v0Ntkz0QocWo">
        </div>
  
        <div class="col">
            <img
              class="jamila img-responsive"
              src="https://drive.google.com/uc?id=1BRlYpAb8UlD2DenoqQESUbmVP7QvQONr">
        </div>
  
    </div>

    <div class="row">

        <div class="col">
            <img
              class="hello-world img-responsive"
              src="https://drive.google.com/uc?id=12_AJrjW9bhzKr8jdhPBkyVDKBR0Xg6IG">
        </div>
  
        <div class="col">
            <img
              class="purple-succ img-responsive"
              src="https://drive.google.com/uc?id=1ftnmUjZ7Suupxxqgr2zDBY6TuP7NvUUp">
    </div>
  
    </div>

  </div>


</body>